<%= link_to gravatar_for(current_user, size: Settings.gravatar_size_user), current_user %>
<h1><%= current_user.name %></h1>
<span><%= link_to t("view_my_profile"), "#" %></span>
<span><%= pluralize current_user.comments.count, t("comment") %></span>
