<%= render "chapters/header" %>
<div id="content-chapter">
  <h2 class="text-center"><%= name_story @chapter %></h2>
  <h4 class="text-center"><%= name_chapter @chapter %></h4>
  <div class="mt-4" id="chapter-content">
    <%= content_chapter @chapter %>
  </div>
</div>
