<%= render "chapters/header" %>
<div id="content-chapter">
  <h1 class="text-center label"><%= name_story %></h1>
  <h4 class="text-center"><%= name_chapter %></h4>
  <div class="mt-4" id="chapter-content">
    <%= content_chapter %>
  </div>
</div>
