@import 'bootstrap';
$gray-light: #000000;
$red: #FF0000;
$while: #eaeaea;
$blue: #0000FF;
$th_background: #eee;
$th_border_bottom: #ccc;
$light_gray: #eaeaea;
$dark_blue: #1d5268;
$a_color: #000000;
$footer_text_color: #ffffff;
$list_story_table_border: #000000;
$all_category_color: #007bff;
$border_chapter_form: #1d526826;
$writing_status: #000099;
$done_status: #009900;
$blue-nav: #1d5268;

body {
  font-family: SourceSansPro, sans-serif;
}

#section1 {
  height: 150px;
  overflow-y: scroll;
  background: $blue-nav;
}

#section1 > li > a {
  color: $while;
}

#nav-color {
  background: $blue-nav !important;
}

#chapters_item {
  padding-left: 0;
}

#style-dropdown {
  padding-bottom: 0;
  padding-top: 0;
  margin-top: 7px;
}

.logo {
  height: 50px;
  width: 100px;
}

body > .container {
  min-height: 754px;
}

header {
  background-color: $dark_blue;
}

footer {
  background-color: $dark_blue;
  font-weight: bold;
  color: $footer_text_color;
}

a {
  color: $a_color;
  text-decoration: none;
}

ul {
  list-style: none;
}

tr {
  border-bottom: 1px solid $list_story_table_border;
}

#section-like-follow {
  border-bottom: 3px dashed $light_gray;
  border-top: 3px dashed $light_gray;
}

.toast {
  max-width: none;
}

.alert {
  margin-bottom: auto;
}

.list_category li:first-child a {
  color: $all_category_color;
}

.card {
  height: 215px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#form_chapter {
  border-left: 3px solid $border_chapter_form;
}

.writing {
  color: $writing_status;
  font-weight: bold;
}

.done {
  color: $done_status;
  font-weight: bold;
}
/* Commemt */

.comments {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid $red;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin: 5px 10px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

#css_comment {
  background: $while;
}

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-light;
  }
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-light;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

#chapter-content {
  font-size: 23px;
}

.comments_section li {
  list-style: none;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

table.listext-table {
  table-layout: fixed;
}

table.listext-table tr td {
  padding: 5px 10px;
  float: none;
}

table {
  font-size: 16px;
  font-size: 1rem;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin: 0;
  text-align: left;
}

#content-chapter {
  margin-top: 80px;
}

table.listext-table tr th {
  background-color: $th_background;
  padding: 4px 10px;
  border-bottom: 2px solid $th_border_bottom;
  float: none;
}

.story-description img {
  width: 240px;
  height: 345px;
  object-fit: cover;
}

#section-like-follow .likes {
  font-size: 20px;
  font-weight: bold;
}

.label {
  font-weight: bold;
}

.story-description .description-content {
  overflow: hidden;
}

.none {
  display: none;
}

#form_story .description-content {
  overflow: hidden;
}

.ellipsis {
  text-overflow: ellipsis;
  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
}

#img_prev {
  width: 300px;
  height: 300px;
  object-fit: cover;
}
