@import 'bootstrap';
$gray-light: #000000;
$red: #FF0000;
$while: #eaeaea; 

$light_gray: #eaeaea;
$dark_blue: #1d5268;
$a_color: #000000;
$footer_text_color: #ffffff;
$list_story_table_border: #000000;
$all_category_color: #007bff;
$border_chapter_form: #1d526826;
$writing_status: #000099;
$done_status: #009900;

body {
  font-family: SourceSansPro, sans-serif;
  background: image-url("bb.jpg") no-repeat white;
  background-attachment: fixed;
  background-size: cover;
}

.logo {
  height: 50px;
  width: 100px;
}

.title {
  color: $while;
}

body > .container {
  min-height: 754px;
}

#background_font {
  background: $while;
  opacity: 0.8;
}

header {
  background-color: $dark_blue;
}

footer {
  background-color: $dark_blue;
  font-weight: bold;
  color: $footer_text_color;
}

a {
  color: $a_color;
  text-decoration: none;
}

ul {
  list-style: none;
}

tr {
  border-bottom: 1px solid $list_story_table_border;
}

#section-like-follow {
  border-bottom: 3px dashed $light_gray;
  border-top: 3px dashed $light_gray;
}

.toast {
  max-width: none;
}

.alert {
  margin-bottom: auto;
}

.list_category li:first-child a {
  color: $all_category_color;
}

.card {
  height: 215px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#form_chapter {
  border-left: 3px solid $border_chapter_form;
}

.writing {
  color: $writing_status;
  font-weight: bold;
}

.done {
  color: $done_status;
  font-weight: bold;
}
/* Commemt */

.comments {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid $red;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

#css_comment {
  background: $while;
}
