@import "bootstrap";

body {
  font-family: SourceSansPro, sans-serif;
}

header {
  background-color: #1d5268;
}

footer {
  background-color: #10b591;
  font-weight: bold;
  color: white;
}

a {
  color: #333;
  text-decoration: none;
}

ul {
  list-style: none;
}

tr {
  border-bottom: 1px solid black;
}
