<tr>
  <td><%= category.name %></td>
  <td><%= category.description %></td>
  <td>
    <%= link_to t(".edit"), "#",
      class: "btn btn-warning", role: "button", remote: true %>
    <%= link_to t(".delete"), "#",
      class: "btn btn-danger", role: "button", remote: true %>
  </td>
</tr>
