<footer class="footer">
  <div class="container">
    <div class="row">
      <span><%= Settings.copyright %></span>
      <span class="ml-auto">
        <%= "#{t ".contact"}: #{Settings[:email_contact]}" %>
      </span>
    </div>
  </div>
</footer>
